@import url(./_fonts.css);
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: "MuseoSansRounded-Light";
   background-image: url(../img/Layer_1.png);
   background-size: cover;
}
.container {
   max-width: 700px;
   height: 400px;
   margin: 15% auto;
   background-color: #111a28;
   border-radius: 20px;
}
.logo {
   position: relative;
   top: 30px;
   left: 20px;
}
.logo__img {
   width: 70px;
   height: 40px;
}
.products {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 85%;
}
.circle {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 330px;
   height: 240px;
}
.cicle__img {
   width: 330px;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.cicle__switch {
   display: flex;
   justify-content: center;
}
.cicle__switch-black {
   background-color: #1f273f;
}
.cicle__switch-white {
   background-color: #fff;
}
.cicle__switch-red {
   background-color: #ff0000;
}
.cicle__switch-blue {
   background-color: #0000ff;
}
.cicle__switch > p {
   width: 15px;
   height: 15px;
   margin: 0 5px;
   border-radius: 50%;
}
.cicle__switch > p:hover {
   width: 20px;
   height: 20px;
   border: 3px solid #7e838b;
}
.content {
   color: #e1e1e1;
   width: 190px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.content__title {
   font-size: 24px;
}
.content__subtitle {
   font-size: 14px;
}
.content__stars-img {
   width: 70px;
}
.select__size,
.select__qty {
   width: 70px;
   height: 30px;
   text-align: center;
   font-size: 14px;
   background-color: #111a28;
   color: #4f5560;
}
.content__button {
   width: 190px;
   height: 40px;
   font-size: 14px;
   color: #e1e1e1;
   background-color: #202835;
   border: 2px solid #4f5560;
}
